<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBF0sfkIHP7z776wkgv6CwChwoNqkPeLA</string>
	<key>GCM_SENDER_ID</key>
	<string>31999445302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HanccoSnapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-ef861</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-ef861.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31999445302:ios:30d335aa39fb1b89d2cb97</string>
</dict>
</plist>